Aloha.ServiceConsumer/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/AlohaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://18.191.244.111/AlohaService/AlohaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AlohaService" />
  <xs:import schemaLocation="https://18.191.244.111/AlohaService/AlohaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AlohaService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AlohaService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="userInfo" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="CreateUserResult" nillable="true" type="q4:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="GetUserResult" nillable="true" type="q5:OperationResultValueOfUserdi1iiSGT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="UpdateUserResult" nillable="true" type="q6:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="DeleteUserResult" nillable="true" type="q7:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAirCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="airCompany" nillable="true" type="q8:AirCompanyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAirCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="CreateAirCompanyResult" nillable="true" type="q9:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airCompanyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="GetAirCompanyResult" nillable="true" type="q10:OperationResultValueOfAirCompanydi1iiSGT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAirCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="airCompany" nillable="true" type="q11:AirCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAirCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="UpdateAirCompanyResult" nillable="true" type="q12:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airCompanyId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAirCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="DeleteAirCompanyResult" nillable="true" type="q13:OperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AlohaService.ServiceDataContracts" minOccurs="0" name="GetAirCompanyListResult" nillable="true" type="q14:OperationResultValueOfArrayOfAirCompanydi1iiSGT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>